{% extends "base.html" %}
{% block title %}blog article{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{ article.author.username }}
            </span><span style="margin-left:20px">{{ publish }}</span>
        </p>
        <div>{{ article.body }}</div>
    </div>
    <div class="col-xs-6 col-md-4">
        <img width="200px" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpic.52112.com%2F180111%2FMale_hands_in_handcuffs%2FeCxDu83Qpp.jpg&imgrefurl=https%3A%2F%2Fwww.52112.com%2Fpic%2F9676.html&tbnid=B-bS_xp90KcewM&vet=12ahUKEwjKkezLo8flAhVWFzQIHe5nBdYQMygcegQIARBA..i&docid=7upnpxJ2iMMS-M&w=800&h=563&q=%E5%9B%BE%E7%89%87&ved=2ahUKEwjKkezLo8flAhVWFzQIHe5nBdYQMygcegQIARBA">
    </div>
</div>
{% endblock %}