{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
            <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        
        <img width="200px"
            src=" https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.runoob.com%2Fcss%2Fcss-image-gallery.html&psig=AOvVaw0FEFY4Xz0Ewda9LKHd3zPD&ust=1572638100187000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOis_4ykx-UCFQAAAAAdAAAAABAD">
    </div>
</div>
{% endblock %}